/* Estilos generales */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{

 }
 .header{
    background-image: url(/img/grass.png);
    width: calc( );
    height: 150px;
    
  }

  